* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

 @import '~bootstrap/scss/bootstrap.scss';
 @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css')
 